# Anaylisis of the results

In [14]:
from nbcpu import HyFI

meta_file = "/home/yjlee/workspace/projects/nbcpu/workspace/datasets/processed/khmer_tokenized/train.parquet"
uncertainty_file = "/home/yjlee/workspace/projects/nbcpu/workspace/nbcpu-topic_uncertainty/model/outputs/LDA_model(4)_k(20)-doc_topic_dists.parquet"
topic_file = "/home/yjlee/workspace/projects/nbcpu/workspace/nbcpu-topic_prior/model/outputs/LDA_model(1)_k(20)-doc_topic_dists.parquet"

In [15]:
meta = HyFI.load_dataframe(meta_file)
meta = meta[["id", "time", "title", "text"]]
meta

,id,time,title,text
0,501330943,2023-07-25 18:19:23,"Use consumer behaviour for providing loans, NB...",The National Bank of Cambodia (NBC) has asked ...
1,501326169,2023-07-18 08:19:05,"VIDEO: Consumers’ complaint mechanism soon, NB...",The National Bank of Cambodia has prepared a d...
2,501325554,2023-07-17 18:19:37,"Consumers’ complaint mechanism soon, NBC says",The National Bank of Cambodia has prepared a d...
3,501322478,2023-07-11 18:19:19,NBC inks deal with UnionPay to expand cross-bo...,National Bank of Cambodia (NBC) on Monday sign...
4,501321914,2023-07-10 18:17:17,"Inflation drops lowest to 0.48%, says NBC",The average price of goods and services suppli...
...,...,...,...,...
39997,48187,2014-03-15 17:00:00,Cuban Americans Hold Meeting,"MIAMI, March 16 (Reuters) – Cuban Americans me..."
39998,48132,2014-03-11 17:00:00,CNRP and CPP: No Consensus,PHNOM PENH: March 12. 2014 (Khmer Times) – CNR...
39999,48115,2014-03-10 17:00:00,ILOCamfeba On Labor,"PHNOM PENH: March 11, 2014 (Khmer Times) — The..."
40000,48085,2014-03-08 17:00:00,World Wide Web Turns 25,"SAN FRANCISCO, March 9, 2014 (AFP) – Twenty-fi..."
40001,48087,2014-03-08 17:00:00,Sarah Palin on Nukes,"NATIONAL HARBOR, March 9, 2014 (AFP) – Sarah P..."

In [16]:
uncertainty_data = HyFI.load_dataframe(uncertainty_file)
uncertainty_data = uncertainty_data[["id", "topic0", "topic1"]]
uncertainty_data.rename(
    columns={"topic0": "uncertainty", "topic1": "improve"}, inplace=True
)
uncertainty_data

              id  uncertainty   improve
0      501330943     0.000085  0.464935
1      501326169     0.000458  0.001072
2      501325554     0.000086  0.654193
3      501322478     0.000114  0.000267
4      501321914     0.000080  0.161941
...          ...          ...       ...
27589      48239     0.000176  0.000412
27590      48216     0.000160  0.000375
27591      48132     0.000061  0.019791
27592      48115     0.258588  0.740238
27593      48085     0.000056  0.000132

[27594 rows x 3 columns]

In [19]:
topic_data = HyFI.load_dataframe(topic_file)
topic_data = topic_data[["id", "topic0", "topic1", "topic7"]]
topic_data.rename(
    columns={"topic0": "econ", "topic1": "banking", "topic7": "asean"}, inplace=True
)
topic_data

              id      econ   banking     asean
0      501330943  0.044409  0.954475  0.000052
1      501326169  0.000805  0.247236  0.000284
2      501325554  0.000130  0.649223  0.000046
3      501322478  0.000128  0.903942  0.000045
4      501321914  0.539477  0.194994  0.000052
...          ...       ...       ...       ...
27589      48239  0.648823  0.000088  0.000065
27590      48216  0.000195  0.000093  0.000069
27591      48132  0.000099  0.000047  0.000035
27592      48115  0.000250  0.000119  0.000088
27593      48085  0.000091  0.000043  0.000032

[27594 rows x 4 columns]

In [20]:
# merge all together

data = meta.merge(topic_data, on="id").merge(uncertainty_data, on="id")
data

,id,time,title,text,econ,banking,asean,uncertainty,improve
0,501330943,2023-07-25 18:19:23,"Use consumer behaviour for providing loans, NB...",The National Bank of Cambodia (NBC) has asked ...,0.044409,0.954475,0.000052,0.000085,0.464935
1,501326169,2023-07-18 08:19:05,"VIDEO: Consumers’ complaint mechanism soon, NB...",The National Bank of Cambodia has prepared a d...,0.000805,0.247236,0.000284,0.000458,0.001072
2,501325554,2023-07-17 18:19:37,"Consumers’ complaint mechanism soon, NBC says",The National Bank of Cambodia has prepared a d...,0.000130,0.649223,0.000046,0.000086,0.654193
3,501322478,2023-07-11 18:19:19,NBC inks deal with UnionPay to expand cross-bo...,National Bank of Cambodia (NBC) on Monday sign...,0.000128,0.903942,0.000045,0.000114,0.000267
4,501321914,2023-07-10 18:17:17,"Inflation drops lowest to 0.48%, says NBC",The average price of goods and services suppli...,0.539477,0.194994,0.000052,0.000080,0.161941
...,...,...,...,...,...,...,...,...,...
27685,48239,2014-03-18 17:00:00,US Stocks Rise Despite Russia’s Ukraine Move,"NEW YORK, March 19, 2014 (AFP) – US stocks bar...",0.648823,0.000088,0.000065,0.000176,0.000412
27686,48216,2014-03-16 17:00:00,Greater Investments In Human Resource,"PHNOM PENH, March 17, 2014 (Khmer Times) – Cam...",0.000195,0.000093,0.000069,0.000160,0.000375
27687,48132,2014-03-11 17:00:00,CNRP and CPP: No Consensus,PHNOM PENH: March 12. 2014 (Khmer Times) – CNR...,0.000099,0.000047,0.000035,0.000061,0.019791
27688,48115,2014-03-10 17:00:00,ILOCamfeba On Labor,"PHNOM PENH: March 11, 2014 (Khmer Times) — The...",0.000250,0.000119,0.000088,0.258588,0.740238
27689,48085,2014-03-08 17:00:00,World Wide Web Turns 25,"SAN FRANCISCO, March 9, 2014 (AFP) – Twenty-fi...",0.000091,0.000043,0.000032,0.000056,0.000132